pid-file = /home/pascal/arangodb/arangodb.pid

default-language = fr_FR

log.level = warning
log.file = /home/pascal/arangodb/logs/arangodb.logs

database.directory = /home/pascal/arangodb/data
database.maximal-journal-size = 33554432

# server
server.endpoint = tcp://127.0.0.1:8529

# reuse a port on restart or wait until it is freed by the operating system
server.reuse-address = true

# disable authentication for the admin frontend
server.disable-authentication = true

# javascript
javascript.startup-directory = /home/pascal/arangodb/js
javascript.app-path = /home/pascal/arangodb/js/app