.DS_Store
bin
daemon
gulpfile.old.js
httbin.feature
node_modules
deploy
dist
pkg
dist
/public/
!src/public/
src/bleuvanille/vendor/
shutdown
stop
src/bleuvanille/bleuvanille

npm-debug.log

.profile_local
.project
nohup.out

bleveindex.eatable/
codegen
env.sh
src/bleuvanille/glide.lock
tmp/

src/bleuvanille/debug
src/github.com/
src/golang.org/
src/gopkg.in/
src/honnef.co/

.idea/
playbook.retry
*.iml
