.DS_Store
bin
daemon
gulpfile.old.js
httbin.feature
node_modules
dist
pkg
dist
/public/
!src/public/
src/bleuvanille/vendor/
shutdown
stop
src/bleuvanille/bleuvanille

npm-debug.log

.profile_local
.project
nohup.out
