{{define "contacts"}}<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Idée Repas</title>

  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

  <!--[if lte IE 8]>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">

<![endif]-->
  <!--[if gt IE 8]><!-->

  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

  <!--<![endif]-->



  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">




  <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/marketing-old-ie.css">
    <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="css/marketing.css">
  <!--<![endif]-->

</head>

<body>

  <div class="header" id="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="">Idée Repas - Admin</a>
    </div>
  </div>

  <div class="content-wrapper">
    <div id="menu">
      <h2 class="content-head is-center">Liste des contacts</h2>

      <div class="pure-g">
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

          <h3 class="content-subhead">
            <i class="fa fa-rocket"></i> En fonction du type de repas
          </h3>
          <p>
            Les quantités sont automatiquement adaptées au nombre de personnes dans votre foyer, et sont modifiables en un clic pour ajouter ou supprimer des convives.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">
            <i class="fa fa-mobile"></i> Selon vos préférences
          </h3>
          <p>
            Idée repas tient compte de vos habitudes : la fréquence à laquelle vous mangez de la viande, les aliments que vous n'aimez pas...
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">
            <i class="fa fa-th-large"></i> Découvrez de nouvelles recettes
          </h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">
            <i class="fa fa-check-square-o"></i> Intégrez votre touche personnelle
          </h3>
          <p>
            Personnalisez les recettes : modifiez les ingrédients et les quantités, adaptez la durée de cuisson... Idée repas s'en souviendra lorsque vous referez cette recette. Saisissez vos recettes préférées pour qu'elles soient proposées dans vos futurs menus.
          </p>
        </div>
      </div>
    </div>

    <div class="ribbon ribbon-image1 l-box-lrg pure-g">
    </div>
    <div id="list" class="content scrollpoint">
      <h2 class="content-head is-center">Préparez votre liste de courses en quelques clics.</h2>

      <div class="pure-g  is-center">
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

          <h3 class="content-subhead">
            <i class="fa fa-rocket"></i> Une liste en fonction des menus
          </h3>
          <p>
            Idée repas prépare la liste de vos courses en fonction du menu que vous avez établi.

          </p>

        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">
            <i class="fa fa-th-large"></i> Tenez compte du contenu de votre frigo
          </h3>
          <p>
            Vous pouvez modifier cette liste à volonté : enlevez les ingrédients que vous possédez déjà, ajouter des produits non alimentaires pour n'avoir qu'une seule liste...
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">
            <i class="fa fa-mobile"></i> Retrouvez la liste sur votre mobile
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>

    <div class="ribbon ribbon-image2 l-box-lrg pure-g">
    </div>
    <div id="register" class="content scrollpoint">
      <h2 class="content-head is-center">Idée repas est en cours de développement...</h2>

      <div class="alert" id="success-alert"></div>
      <div class="alert" id="error-alert"></div>

      <div class="pure-g">
        <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
          <h4>Inscrivez-vous pour être tenu informé de la sortie du produit</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>

          <h4>Plus d'informations</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
          <form class="pure-form pure-form-stacked" id="emailRegistrationForm">
            <fieldset>

              <label for="email">Votre Email</label>
              <input id="emailInput" type="email" placeholder="Votre Email">

              <button type="submit" class="pure-button">Prévenez-moi !</button>
            </fieldset>
          </form>
        </div>
      </div>

    <div class="ribbon ribbon-image3 l-box-lrg pure-g">
    </div>

    <div class="footer l-box is-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit
    </div>

  </div>
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/scrollspy.js"></script>
</body>

</html>
{{end}}
