{{define "index"}}
{{template "header"}}
  <div class="header" id="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="">Bleu Vanille</a>
      <ul id="top-menu" class="pure-menu-list">
        <li id="menuLink" class="pure-menu-item"><a href="#menu" class="pure-menu-link">Menus</a></li>
        <li id="listLink" class="pure-menu-item"><a href="#list" class="pure-menu-link">Liste</a></li>
        <li id="registerLink" class="pure-menu-item"><a href="#register" class="pure-menu-link">S'inscrire</a></li>
      </ul>
    </div>
  </div>

  <div class="splash-container">
    <div class="splash scrollpoint">
      <h1 class="splash-head">Bleu Vanille</h1>
      <p class="splash-subhead">
        Vos menus et votre liste de course en quelques minutes.
      </p>
      <p>
        <a id="menuButton" href="#menu" class="pure-button pure-button-primary">Découvrez Bleu Vanille</a>
      </p>
    </div>
  </div>

  <div class="content-wrapper">
    <div id="menu" class="content scrollpoint">
      <h2 class="content-head is-center">Composez des menus équilibrés et personnalisés</h2>

      <div class="pure-g">
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">
            <i class="fa fa-lightbulb-o"></i> Fini le manque d'inspiration
          </h3>
          <p>
            Pas d'idée pour le repas de ce soir ? encore moins pour une semaine entière ?
            Bleu Vanille vous suggère des menus totalement personnalisés, en fonctions
            de vos préférences et du temps dont vous disposez
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">
            <i class="fa fa-calendar"></i> Variez vos repas
          </h3>
          <p>
            Bleu Vanille tient compte de ce que vous avez préparé les jours précédents,
            et adapte les menus proposés pour vous garantir une alimentation équilibrée.
          </p>
        </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3 class="content-subhead">
          <i class="fa fa-star-o"></i> Découvrez des recettes
        </h3>
        <p>
          Bleu vanille vous propose des recettes simples ou élaborées, classiques ou originales,
          selon vos goûts et vos envies.
          <!-- sélectionnées en fonction du temps dont vous disposez, de vos goûts et envie. -->
        </p>
      </div>
    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
      <h3 class="content-subhead">
        <i class="fa fa-check-square-o"></i> Ajoutez votre touche personnelle
      </h3>
      <p>
        Ajoutez vos propres recettes, et personnalisez les autres. Modifiez les ingrédients
        et les quantités, adaptez la durée de cuisson... Bleu Vanille s'en souviendra.
      </p>
    </div>
  </div>
  </div>

  <div class="ribbon ribbon-image1 l-box-lrg pure-g">
  </div>
  <div id="list" class="content scrollpoint">
    <h2 class="content-head is-center">Préparez votre liste de courses en quelques clics.</h2>

    <div class="pure-g">
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3 class="content-subhead">
          <i class="fa fa-eur"></i> Faites des économies
        </h3>
        <p>
          Ne mangez pas ce que vous achetez, mais achetez ce que vous mangez.
          Éliminez le gaspillage et faites des économies.
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3 class="content-subhead">
          <i class="fa fa-clock-o"></i> Gagnez du temps
        </h3>
        <p>
          Avec Bleu Vanille, les menus sont organisés rapidement. La liste de courses disponible
           aussitôt sur votre mobile écourte significativement la corvée des courses.
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3 class="content-subhead">
          <i class="fa fa-check"></i> Optimisez votre liste de courses
        </h3>
        <p>
          Vous pouvez modifier la liste de courses à volonté : enlevez les ingrédients
          que vous possédez, ajoutez des produits non alimentaires pour
          n'avoir qu'une seule liste...
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3 class="content-subhead">
          <i class="fa fa-heart"></i> Votre alimentation est importante
        </h3>
        <p>
          Bleu Vanille est indépendant, ne revend pas vos données personnelles et n'est pas financé par la pub. Les suggestions sont donc dénuées de tout objectif commercial.
          <!-- Mangez ce qui est bon pour vous, pas ce que veulent les industriels ! -->
        </p>
      </div>
    </div>
  </div>

  <div class="ribbon ribbon-image2 l-box-lrg pure-g">
  </div>
  <div id="register" class="content scrollpoint">
    <h2 class="content-head is-center">Bleu Vanille est en cours de développement...</h2>

    <div class="alert" id="success-alert"></div>
    <div class="alert" id="error-alert"></div>

    <div class="pure-g">
      <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
        <h4>Inscrivez-vous pour être tenu informé de la sortie du produit</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>

        <h4>Plus d'informations</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
        <form class="pure-form pure-form-stacked" id="emailRegistrationForm">
          <fieldset>

            <label for="email">Votre Email</label>
            <input id="emailInput" type="email" placeholder="Votre Email">

            <button type="submit" class="pure-button">Prévenez-moi !</button>
          </fieldset>
        </form>
      </div>
    </div>

    <div class="ribbon ribbon-image3 l-box-lrg pure-g">
    </div>

    <div class="footer l-box is-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit
    </div>

  </div>
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
{{template "footer"}}
{{end}}
