{{define "passwordreset"}}
{{template "header"}}
  <div class="header" id="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="">Bleu Vanille</a>
      <ul id="top-menu" class="pure-menu-list">
        <li id="menuLink" class="pure-menu-item"><a href="#menu" class="pure-menu-link">Menus</a></li>
        <li id="listLink" class="pure-menu-item"><a href="#list" class="pure-menu-link">Liste</a></li>
        <li id="registerLink" class="pure-menu-item"><a href="#register" class="pure-menu-link">S'inscrire</a></li>
      </ul>
    </div>
  </div>


  <div class="alert" id="success-alert"></div>
  <div class="alert" id="error-alert"></div>
  <div class="content-wrapper">
    <h2 class="content-head is-center">Réinitialisez votre mot de passe</h2>
    <div class="pure-g">
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

        <form class="pure-form" id="passwordResetForm" >
          <fieldset>
            <legend>Nouveau mot de passe</legend>

            <input type="hidden" id="token" value="{{.Token}}">
            <input id="passwordInput" type="password" placeholder="Mot de passe">

            <button type="submit" class="pure-button pure-button-primary">Valider</button>
          </fieldset>
        </form>
      </div>
    </div>

    <div class="footer l-box is-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit
    </div>

  </div>
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
{{template "footer"}}
{{end}}
