{{define "passwordreset"}}
{{template "header"}}
    <div class="grid-3">
      <div></div>
      <div class="w50 center">
        <password-reset></password-reset>
      </div>
      <div></div>
    </div>
    <alert></alert>

    <script type="text/javascript" src="/js/superagent.js"></script>
    <script type="text/javascript" src="/js/riot.min.js"></script>
    <script type="text/javascript" src="/tags/alert.js"></script>
    <script type="text/javascript" src="/tags/password-reset.js"></script>
    <script type="text/javascript">
      var bus = {};
      riot.observable(bus);
      riot.mount('alert', { bus: bus })
      riot.mount('password-reset', { bus: bus, token: "{{ .Token }}" })
    </script>

{{template "footer"}}
{{end}}
