/* palette: http://paletton.com/#uid=63o0R0kttxNilGMnCAhxNqXB2lc */
:root {
  --primary-color:                #D76D00;
  --primary-color-light:          #FFA243;
  --secondary-color:              #1284A4;
  --secondary-color-light:        #3293AF;
  --third-color:                  #DDDDDD;
  --third-color-light:            #FFFFFF;
  --default-text-color:           #7f8c8d;
  --dark-text-color:              #444444;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/quicksand-webfont/quicksand-regular-webfont.eot');
    src: url('../fonts/quicksand-webfont/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-webfont/quicksand-regular-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-webfont/quicksand-regular-webfont.woff') format('woff'),
         url('../fonts/quicksand-webfont/quicksand-regular-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-webfont/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
    line-height: 1.7em;
    color: var(--default-text-color);
    font-size: 1.3rem;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'quicksandregular';
}

h1,
h2,
h3 {
    color: var(--primary-color);
}

h4,
h5,
h6,
label {
    color: var(--secondary-color);
}

a {
    text-decoration: none;
}


label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 1.0rem;
}

input[type] {
    /*border: 2px solid #ddd;
    box-shadow: none;*/
    font-size: 1.7rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.button {
    background-color: var(--primary-color-light);
    color: var(--third-color-light);
    padding: 0.5em 2em;
    border-radius: 5px;
    border: none;
}

a.button-primary {
    background: var(--third-color-light);
    color: var(--primary-color);
    border-radius: 5px;
    font-size: 2rem;
}

#arrowToMenu {
    font-size: 2rem;
}

.call-to-action-button {
    background-color: var(--secondary-color);
    color: var(--third-color-light);
    padding: 0.6em 2em;
    border-radius: 15px;
    box-shadow: none;
    font-size: 2rem;
}

.call-to-action-button:hover {
    background-color: var(--secondary-color-light);
}

.header {
    padding: 0.5em;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    /*height: 50px;*/
    background: var(--secondary-color);
    z-index: 4;
    top: 0;
    left: 0;
    margin-left: 0;
    position: fixed !important;
    width: 100%;
}

.header .menu-heading {
    color: var(--third-color-light);
    font-weight: 400;
    font-size: 2rem;
}

.arguments {
    padding-bottom: 2rem;
}

.menu-link {
    width: 9rem;
    text-align: center;
}

.menu-link a {
    color: var(--third-color);
    text-decoration: none;
}

div.menu-link:hover,
div.menu-link:focus {
    outline: var(--primary-color) solid 1px;
}

.menu-active > .menu-link, .menu-link:hover, .menu-link:focus {
  background-color: var(--secondary-color);
}

.header .menu-selected, .header .menu-selected:hover, .header .menu-selected:visited, .header .menu-selected:active {
    color: var(--third-color-light);
    background-color: var(--primary-color);
}


.splash-container {
    background: var(--secondary-color-light);
    z-index: -1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    /*text-transform: uppercase;*/
}

.splash-head {
    font-size: 3.0rem;
    font-weight: bold;
    color: var(--third-color-light);
    border: 3px solid var(--third-color-light);
    padding: 1em 1.6em;
    border-radius: 5px;
    line-height: 1em;
}

.splash-subhead {
    color: var(--third-color-light);
    letter-spacing: 0.05em;
    opacity: 0.8;
    font-size: 2rem;
    padding: 2rem;
}

.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 101%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: var(--third-color-light);

}

.content-head {
    font-weight: 400;
    /*text-transform: uppercase;*/
    letter-spacing: 0.1em;
    padding-top: 2rem;
    margin: 2em 0 1em;
}

.content-head-ribbon {
    color: white;
}

.content-subhead {
    color: var(--secondary-color);
}

.content-subhead i {
    margin-right: 7px;
}

.ribbon {
    background: #FFFFFF;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 320px;
    color: #aaa;
}

.ribbon-image1 {
    background-image: url('../img/food1.jpg');
}

.ribbon-image2 {
    background-image: url('../img/food4.jpg');
}

.ribbon-image3 {
    background-image: url('../img/food7.jpg');
}

.header {
    z-index: 4;
}

.footer {
    background: var(--primary-color);
    color: var(--third-color-light);
    font-size: 1.8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 1.6rem;
    }
    /* We want to give the content area some more padding */
    .content {
        padding: 1em;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .header {
        text-align: left;
    }
    .header ul {
        float: right;
    }

    .splash {
        width: 50%;
        height: 50%;
    }
    
    .ribbon {
        height: 500px;

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    }    
    .ribbon {
        height: 600px;
    }
}

div.alert {
  padding: 8px;
  text-align: center;
  width:100%;
  color: var(--dark-text-color);
}

/* TODO these styles are specific to the landing page, because it does not use
   riot based component 'alert'
   either we should move them to a specific CSS, or the landing page should use riot */
div#success-alert {
  background-color: #ACCD69;
}

div#error-alert {
  background-color: #F5A3AD;
}

.fa-angle-down {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 2.0rem;
}
