{{define "admin/login"}}
{{template "header"}}
    <div class="grid-3">
      <div></div>
      <div class="center">
        <login-form></login-form>
        <alert></alert>
      </div>
      <div></div>
    </div>
    <script type="text/javascript" src="/js/superagent.js"></script>
    <script type="text/javascript" src="/js/riot.min.js"></script>
    <script type="text/javascript" src="/tags/login-form.js"></script>
    <script type="text/javascript" src="/tags/alert.js"></script>
    <script type="text/javascript">
      var bus = {};
      riot.observable(bus);
      bus.on('logged', function() {
        window.location = 'dashboard'
      })
      riot.mount('login-form', {bus: bus})
      riot.mount('alert', {bus: bus})
    </script>
{{template "footer"}}
{{end}}
